#register, #login, #password-forgot, #password-reset {
  background: #EDEDED;
  padding-top: 80px;
}

#register .form-wrap {
  max-width: 450px;
  padding: 25px 40px;
  margin: 0 auto;
  background: #FFFFFF;
}

#login .form-wrap, #password-forgot .form-wrap, #password-reset .form-wrap {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
  background: #FFFFFF;
}

#register .form-signin-heading, #login .form-signin-heading, #password-forgot .form-signin-heading, #password-reset .form-signin-heading {
  text-align: center;
  margin: 10px 0 25px;
}

#register .description, #login .description, #password-forgot .description, #password-reset .description {
  font-size: 0.8rem;
}

#register .form-wrap label.input-label, #password-reset .form-wrap label.input-label {
  font-weight: bold;
  font-size: 0.8em;
}

#register .form-wrap .form-control, #password-reset .form-wrap .form-control, {
  padding: 13px;
  margin-bottom: 10px;
  border: none;
  border: 1px solid #CCCCCC;
  position: relative;
  height: auto;
}

#login .form-wrap .form-control, #password-forgot .form-wrap .form-control {
  padding: 13px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  height: auto;
}

#register .btn-register, #login .btn-login, #password-forgot .btn-submit, #password-reset .btn-submit {
  margin-top: 25px;
}

#login .password-forgot {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 0.8rem;
  text-align: right;
}